#app-content-wrapper {
    height: 100%;
}

#div-content {
    width: 100%;
}

#all-button,
.edit-group {
    width: 100%;
    padding: 10px;
    padding-left: 34px;
    background-position: 10px center;
    text-align: left;
    margin: 0;
}

#button-fixed,
.group-title {
    z-index: 111; /* navigation menu is 110 ;-) */
    background-color: rgba(255, 255, 255, .75);
    padding: 10px;
    position: relative;
}

.lozad {
    background-color: rgba(210, 210, 210, .75);
    border-radius: 3px;
}

.selected {
    border: 3px #4285f4 solid
}