#app-content-wrapper {
    height: 100%;
}

#div-content {
    width: 100%;
}

#all-button,
.edit-person {
    display: inline-flex;
    padding: 10px;
    padding-left: 34px;
    background-position: 10px center;
    text-align: left;
    margin-top: 22px;
    margin-bottom: 0px !important;
}

.title-icon {
    padding-left: 34px;
}

#button-fixed,
.person-title {
    z-index: 111; /* navigation menu is 110 ;-) */
    background-color: rgba(255, 255, 255, .75);
    color: #545454;
    padding: 10px;
    position: relative;
}

.persons-previews {
    margin-left: 24px;
    display: flex;
    flex-wrap: wrap;
}

.lozad:hover {
    opacity: .5;
}

.person-container {
    position: relative;
    margin: 2px;
}

.lozad {
    background-color: rgba(210, 210, 210, .75);
    border-radius: 3px;
    height: 50px;
    width: 50px;
}


.show-overlay-icon {
    display: block !important;
}

.icon-rename-select {
    display: none;
    float: left;
    background-color: white;
    border-radius: 8px;
    margin: 2px;
    opacity: 0.5;
}

.icon-checkmark-select {
    display: none;
    float: right;
    background-color: white;
    border-radius: 8px;
    margin: 2px;
    opacity: 0.5;
}

.icon-checkmark-selected,
.icon-checkmark-select:hover,
.icon-rename-select:hover {
    display: block !important;
    background-color: #4285f4;
    opacity: 1.0;
}

.face-selected {
    border: 3px #4285f4 solid
}