#div-content {
	width: 100%;
}

.icon-back {
	@include icon-color('back', 'facerecognition', $color-black);
}

.image-box,
.person-box {
	display: inline-block;
	margin: 3px;
}

.person-desc {
	text-align: center;
	margin-top: -5px;
	color: var(--color-text-lighter);
}

.cluster-title {
	padding: 10px;
	text-align: left;
	margin-top: 22px;
	margin-bottom: 0px !important;
}

.title-icon {
	padding-left: 34px;
}

.person-name {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0px;
}

.persons-previews {
	margin-top: 22px;
}

.faces-previews {
	margin-left: 24px;
	display: flex;
	flex-wrap: wrap;
}

.face-preview-big {
	background-color: rgba(210, 210, 210, .75);
	background-size: cover;
	border-radius: 12px;
	height: 128px;
	width: 128px;
	margin: 0 auto;
	cursor: pointer;
}

.face-preview {
	background-color: rgba(210, 210, 210, .75);
	background-size: cover;
	border-radius: 3px;
	margin: 2px;
	height: 50px;
	width: 50px;
}

.face-preview-big:hover,
.face-preview:hover {
	opacity: .5;
}

/*
 * Admin page
 */
.icon-align {
	padding: 11px 20px;
}

.ui-slider {
	vertical-align: middle;
	width: 40%;
}

.settings-ranged > label:first-child {
	display: inline-block;
	width: 25%;
	text-align: right;
}

.span-highlighted {
	text-align: center;
	padding: 2px 5px;
	border-radius: 10px;
	background-color: darkgray;
}
