$containerMargin: 20px;

#app-content-facerecognition {
	display: flex;
	flex-direction: column;
	height: 100%;

	&.hidden {
		display: none;
	}

	.drop-area,
	.text-area, .text-area:hover {
		border-radius: 5px;
		border: 1.5px dashed $color-border !important;
		min-height: 100px;
		margin: $containerMargin;
	}

	.drop-area {
		padding: 30px 8px;
		text-align: center;
		cursor: pointer;
		z-index: 2;

		.icon-download {
			background-size: 32px 32px;
			width: 32px;
			height: 32px;
			margin: auto;
			margin-bottom: 10px;
			opacity: .5;
			z-index: 1;
		}
		p {
			opacity: .5;
			z-index: 1;
		}
		.dz-upload {
			display: block;
			background-color: $color-primary;
			height: 10px;
		}
		.dz-success-mark, .dz-error-mark {
			display: none;
		}
	}

	.drop-text {
		position: relative;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		min-height: 120px;
		.hint {
			position: absolute;
			width: 100%;
			text-align:center;
			z-index: 1;
			margin-top: 30px;
			p {
				opacity: .5;
			}
			.icon-filetype-text {
				background-size: 32px 32px;
				width: 32px;
				height: 32px;
				margin: auto;
				margin-bottom: 10px;
			}
		}
		.text-area, .text-area:hover {
			margin-top: 0;
			width: calc(100% - 2 * #{$containerMargin});
			height: 100%;
			flex-grow: 1;
			z-index: 2;
			background-color: transparent !important;

		}
		.text-area:focus {
				background-color: $color-main-background !important;
		}
		.text-submit {
			position: absolute;
			bottom: 30px;
			right: 30px;
			z-index: 2;
		}
	}

	.url-share {
		display: none;
		margin: $containerMargin;
		margin-top: 0;

		input {
			max-width: 400px;
			width: calc(100% - 40px);
		}

		.icon-clippy {
			display: inline-block;
			background-size: 16px 16px;
			margin-left: -30px;
			position: relative;
			top: 2px;
			cursor: pointer;
		}
	}
}


.nav-icon-facerecognition,
.icon-facerecognition {
	background-image: url('../img/app-dark.svg');
}