#div-content {
    width: 100%;
}

.person-title {
    display: inline-flex;
    padding: 10px;
    padding-left: 34px;
    background-position: 10px center;
    text-align: left;
    margin-top: 22px;
    margin-bottom: 0px !important;
}

.title-icon {
    padding-left: 34px;
}

.persons-previews {
    margin-left: 24px;
    display: flex;
    flex-wrap: wrap;
}

.face-preview {
    background-color: rgba(210, 210, 210, .75);
    border-radius: 3px;
    margin: 2px;
    height: 50px;
    width: 50px;
}

.face-preview:hover {
    opacity: .5;
}


/*
 * Rename dialog
 */

#fr-dialog-content-input {
    width: 80%;
    margin: 6px;
}

.face-preview-dialog {
    background-color: rgba(210, 210, 210, .75);
    border-radius: 25px;
    height: 50px;
    width: 50px;
}

/*
 * Admin page
 */
.icon-align {
    padding: 11px 20px;
}

.ui-slider {
    vertical-align: middle;
    width: 40%;
}

.settings-ranged > label:first-child {
    display: inline-block;
    width: 25%;
    text-align: right;
}

.span-highlighted {
    text-align: center;
    padding: 2px 5px;
    border-radius: 10px;
    background-color: darkgray;
}
