.persons-list .icon-more {
    display: block;
    padding: 14px;
    width: 44px;
    height: 44px;
    opacity: 0.5;
}

.persons-list .name {
    width: 100%;
}

.persons-list div.more {
    position: relative;
}

.persons-list td.more {
    width: 16px;
}

.face-preview {
    background-color: rgba(210, 210, 210, .75);
    border-radius: 3px;
    height: 32px;
    width: 32px;
}


/*
 * Rename dialog
 */
#fr-dialog-content-input {
    width: 80%;
    margin: 6px;
}

.face-preview-dialog {
    background-color: rgba(210, 210, 210, .75);
    border-radius: 25px;
    height: 50px;
    width: 50px;
}