/* Dialog */

#fr-assign-dialog-input,
#fr-rename-dialog-input {
	width: 100%;
}

.face-preview-dialog {
	background-color: rgba(210, 210, 210, .75);
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin: 1px;
}

/* Autocomplete */

ul.autocomplete {
	width: 90%;
	display: none;
	border: 1px solid #999;
	border-radius: 3px;
	background: #fff;
	padding-left: 0;
	list-style: none;
	overflow: auto;
	z-index: 1;
}

ul.autocomplete li {
	padding: .3em 1em;
	white-space: nowrap;
	cursor: default;
	color: var(--color-text-lighter);
}

ul.autocomplete li.selected {
	background: var(--color-background-dark);
	color: var(--color-main-text);
}

ul.autocomplete li.no-results {
	text-align: center;
}

ul.autocomplete mark {
	color: inherit;
	background: none;
	font-weight: 700;
}
