<?php
declare(strict_types=1);

require_once './test/coding-standard/Config.php;

use FaceRecognition\CodingStandard\Config;

$config = new Config();

$config
	->getFinder()
	->ignoreVCSIgnored(true)
	->notPath('build')
	->notPath('l10n')
	->notPath('src')
	->notPath('vendor')
	->in(__DIR__);

return $config;